/* Focus in mobile size first */

.hidden { 
    display: none; 
}

body { 
  font-family: Arial, Helvetica, sans-serif;
  background-color: #17408B;
  color: white;
}

/* main header rules */
header {
   background-color: goldenrod;
    padding: 10px 0; 
}

#main-logo { 
    width: 150px; 
    display: block;
    margin: 0 auto;
}

/* main rules here */
#players_nav {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: black;
    background-image: url(../images/the_nba.jpg);
    background-size: fill;
    background-position: center;
    background-repeat: no-repeat;

}

#players { 
    list-style-type: none; 
    padding: 0;
    text-align: center;
}

#players li { 
    display: inline;
    margin: 10px 10px;
    cursor: pointer;
}

#players li img {
    padding: 10px;
    border: solid 1px #fff;
    transition: all .5s ease-in-out;
    background-color: black;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, .9);
}

#players li a { 
    text-decoration: none; 
}

#players li img:hover { 
    filter: grayscale(100%);
    border-radius: 50%;
}

#instructions { 
    padding: 20px; 
}

#instructions h3  {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

#instructions p {  
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}


/* footer rules here */
footer {
    color: Wrgb(255, 255, 255);
    padding: 20px 0;
    text-align: center;
}

#main-footer {
    height:auto;
    background-color:  #C9082A;
}

/* LightBox Rules */

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(205, 205, 205, 0.85);
    display: none;
    background-repeat: no-repeat;
    background-size: 55vh;
    background-position: 40px bottom;
}

.lightbox:target{
    display: block;

}

#lightbox1 {
    background-image: url(../images/doncic_lb_bg.png);

}

#lightbox2 {
    background-image: url(../images/AE_lb_bg.png);
}

#lightbox3 {
    background-image: url(../images/df_lb_bg.png);
}

#lightbox4 {
    background-image: url(../images/greekfr_lb_bg.png);
}

#lightbox5 {
    background-image: url(../images/Joker356_lb_bg.png);
}

.lightbox-close {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    margin-left: 95vw;
    transition: all .5s ease-in-out;

}

.lightbox-close:hover {
    color: red;
}

.lightbox section {
    width: 600px;
    margin-left: 40%;
    margin-top: 50px;
}

.lb-heading {
    font-size: 35px;
}

.lightbox p {
    line-height: 25px;
}